.graph2D {
    display: flex;
    justify-content: flex-start;
}

.canvas2D {
    margin-left: auto;
    margin-right: 30px;
}

@media (max-width: 965px) {
    .graph2D {
        flex-direction: column-reverse;
    }
    .canvas2D {
        width: 100%;
        margin-bottom: 20px;
    }
}