.field {
    padding: 20px;
    background: #ffd8fd;
    color: #e2228c;
    width: 560px;
    height: 0px;
    border: 0px;
    margin: 10px;
    cursor: url(../../../images/pointer.png), auto;
}

.field:hover {
    background: #ffc8fc;
}

.active {
    background-color: #ffc8fc;
}