/***************** неактивная кнопка *****************/
.field {
    background: #ffd8fd;
    color: #e2228c;
    width: 540px;
    height: auto;
    border: 0px;
    margin: 10px;
    padding: 10px;
    cursor: url(../../../images/pointer.png), auto;
}

.field:hover {
    background: #ffc8fc;
}

/*****************************************************/

/******** активная кнопка ********/
.active {
    background-color: #ffc8fc;
}