.page404  {
    background: url("../../images/page404.jpg");
    background-size: 100%;
    background-attachment: fixed;
    opacity: 0.5;
    height: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.page404-row  {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    line-height: 0%;
    height: 150px;
    margin-top: 60px;
}

.textError {
    font-size: 100pt;
    font-family: monospace;
    font-family: cursive;
    line-height: 0;
    font-weight: bolder;
}

.textErrorNumber {
    font-size: 180pt;
    font-weight: bold;
    font-family: monospace;
    font-family: cursive;
    line-height: 0;
}