.panel2D {
    display: flex;
    justify-content: flex-start;
}

.panel2D-button {
    margin: 0 20px 20px 20px;
}

.panel2D-window {
    width: 300px;
    margin: 0 20px 20px 20px;
}

/************** кнопка нарисовать график **************/
.draw {
    background: #ffd8fd;
    color: rgb(0, 0, 0);
    border: 1px solid #ffd8fc;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    width: 180px;
    height: 70px;
    font-family: monospace;
    padding: 0 10px 10px 10px;
    cursor: url(../../../images/pointer.png), auto;
}

.draw:hover {
    background: #ffc8fc;
}

/******************************************************/