.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 980px) {
    .calculator {
        align-items: normal;   
    }
}

@media(max-width: 570px) {
    .calculator {
        align-items: center;   
    }
}

/******************* ввод-вывод *******************/
.textArea {
    display: flex;
    flex-direction: column;
}

textarea {
    color: #e2228c;
    font-size: 14pt;
}

textarea::placeholder {
    color: #e2228c;
    font-size: 14pt;
    font-family: cursive;
}

.textArea-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

@media(max-width: 980px) {
    .textArea-row {
        flex-direction: column;   
    }
}

.numbers {
    width: 360px;
    height: 60px;
    margin: 10px;
    outline: 0;
    border: 0px;
    cursor: url(../../images/pointer.png), auto;
}

.numbers:hover {
    background: #ffd8fd;
    cursor: url(../../images/pointer.png), auto;
}

.numbers:focus {
    background: #ffd8fd;
}  

.result {
    width: 745px;
    height: 80px;
    margin: 10px;
    outline: 0;
    border: 0px;
    background: url(../../images/clouds.jpg);
    cursor: url(../../images/auto.png), auto;
}

@media(max-width: 980px) {
    .result {
        width: 360px;   
    }
}

/**************************************************/

/******************* кнопки операций *******************/
.button-operation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

@media(max-width: 980px) {
    .button-operation {
        align-items: normal;
    }
}

.button-row {
    display: flex;
    justify-content: center;
}

@media(max-width: 570px) {
    .button-row {
        align-items: center;
        flex-direction: column;
    }
}

.button-operation button {
    margin: 10px;
    background: #ffd8fd;
    color: rgb(0, 0, 0);
    font-size: 16pt;
    width: 300px;
    height: 40px;
    border: 0px;
    border-radius: 0px;
    font-family: cursive;
    cursor: url(../../images/pointer.png), auto;
}

@media(max-width: 570px) {
    .button-operation button {
        align-items: center;
    }
}

.button-operation button:hover {
    background: #ffc8fc;
}

/*******************************************************/

/******************* правила *******************/
.inputRules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    color: #e2228c;
    font-family: cursive;
    cursor: url(../../images/auto.png), auto;
}

@media(max-width: 425px) {
    .inputRules {
        align-items: center;
    }
}

.headerRules p {
    font-size: 18pt;
    font-family: cursive;
    font-weight: 600;
    margin: 5px;
}

.pointsRules p {
    font-size: 16pt;
    font-family: cursive;
    margin: 2px;
}

@media(max-width: 425px) {
    .headerRules p {
        font-size: 100%;
    }
    .pointsRules p {
        font-size: 100%;
    }
}

/***********************************************/