.functionSettings {
    display: flex;
    flex-direction: column;
}

.functionSettings-row {
    display: flex;
    justify-content: start;
    margin: 5px;
    align-items: center;
}

/************* ввод *************/
.inputFunction {
    width: 80px;
    height: 25px;
    border: 1px solid #ffffff;
    outline: 0;
    margin-right: 10px;
    cursor: url(../../../images/pointer.png), auto;
}

input::placeholder {
    font-family: cursive;
}

.inputFunction:hover {
    background: #ffd8fd;
}

.inputFunction:focus {
    background: #ffd8fd;
}

/********************************/

/*** вывод площади ***/
.outputSquare {
    width: 80px;
    height: 25px;
    border: 0px;
    outline: 0;
    cursor: url(../../../images/auto.png), auto;
}

/************ рисовать/не рисовать производную  ************/
.checkDerevative {
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    width: 17px;
    height: 17px;
    background: #ffffff;
    cursor: url(../../../images/pointer.png), auto;
    margin-right: 10px;
}

.checkDerevative:checked {
    background: #ffc8fc;
    transform: scale(1.5);
}

.checkDerevative:hover {
    background: #ffc8fc;
    transform: scale(1.5);
}

/***********************************************************/

/************* удалить функцию *************/
.deleteFunction {
    background: #ffd8fd;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    width: 90px;
    height: 28px;
    border: 0px;
    font-family: cursive;
    cursor: url(../../../images/pointer.png), auto;
}

.deleteFunction:hover {
    background: #ffc8fc;
}

/******************** изменить ширину ********************/
.changeWidth {
    -webkit-appearance: none;
    border-radius: 7px;
    width: 200px;
    height: 8px;
    background: #ffffff;
    border: none;
    cursor: url(../../../images/pointer.png), auto;
    margin-right: 10px;
}

.changeWidth::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: #ffd8fd;
    cursor: url(../../../images/pointer.png), auto;
}

.changeWidth:hover {
    transform: scale(1.05);
}

/*********************************************************/

/******************** изменить цвет ********************/
.changeColor {
    border: 0px;
    width: 47px;
    height: 47px;
    border-radius: 7px;
    background: url(/src/images/cloudsSmall.jpg);
    cursor: url(../../../images/pointer.png), auto;
}

.changeColor::-webkit-color-swatch {
    border: 0px;
    border-radius: 3px;
    margin: 3px;
}

.changeColor:hover {
    transform: scale(1.05);
}

/*******************************************************/
