/******************** фон ********************/
body {
    background-color: #ffe0fd;
    cursor: url(../../images/auto.png), auto;
}

/********** главная страница **********/
.main_page {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0px 0px 20px 0px;
    padding: 5px 20px 0 20px;
    font-family: monospace;
    font-size: 17pt;
}