.graph3D {
    display: flex;
    justify-content: start;
}

.canvas3D {
    display: flex;
    margin-left: auto;
}

/******************** правила ********************/
.keysRules {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 30px;
    padding: 0 10px 10px 10px;
    cursor: url(../../images/auto.png), auto;
}

.keysRules-row {
    display: flex;
    flex-direction: column;
}

.keysRules-wrapper {
    display: flex;
    align-items: center;
    font-size: 20pt;
    font-family: cursive;
    color: #e2228c;
    margin-bottom: 20px;
}

.keysRules_button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.keysRules_button p {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 21pt;
    font-family: cursive;
    background: url(../../images/cloudsSmall.jpg);
}

.keysASD {
    display: flex;
}

.keys234 {
    display: flex;
}

.textRules {
    display: flex;
    font-family: cursive;
    font-size: 13pt;
    cursor: url(../../images/auto.png), auto;
}

/*************************************************/

@media(max-width: 1260px) {
    .graph3D {
        flex-wrap: wrap;
    }
    .canvas3D {
        margin-right: 30px;
        padding: 0;
        margin-bottom: 20px;
    }
    .keysRules {
        justify-content: flex-start;
        margin: 0 0 0 30px;
    }
    .keysRules-row {
        flex-direction: row;
    }
    .keysRules-wrapper {
        margin: 0 30px 0 0;
    }
}

@media(max-width: 1024px) {
    .graph3D {
        flex-direction: column;
    }
    .canvas3D {
        width: 100%;
        margin: 0;
    }
    .keysRules {
        margin-top: 20px;
    }
}

@media(max-width: 640px) {
    .keysRules-row {
        flex-direction: row;
    }
}